head
  title TomTask
  meta(name="viewport"
   content="maximum-scale=1.0,width=device-width,initial-scale=1.0,user-scalable=0")
  link(href='https://aserver.xyz/tomtask/style.css', rel='stylesheet')
  link(rel="shortcut icon" type="image/x-icon" href="https://aserver.xyz/tomtask/favicon.ico")
  script(type='text/javascript' src='https://aserver.xyz/tomtask/ssl.js')

template(name="userFormsLayout")
  section.auth-layout
    h1.at-form-landing-logo
      img(src="{{pathFor 'https://aserver.xyz/tomtask/logo.svg'}}" alt="TomTask")
    +Template.dynamic(template=content)
    div.at-form-lang
      select.select-lang.js-userform-set-language
        each languages
          if isCurrentLanguage
            option(value="{{tag}}" selected="selected") {{name}}
          else
            option(value="{{tag}}") {{name}}

template(name="defaultLayout")
  +header
  #content
    +Template.dynamic(template=content)
  if (Modal.isOpen)
    #modal
      .overlay
      .modal-content
        a.modal-close-btn.js-close-modal
          i.fa.fa-times-thin
        +Template.dynamic(template=Modal.getHeaderName)
        +Template.dynamic(template=Modal.getTemplateName)

template(name="notFound")
  +message(label='page-not-found')

template(name="message")
  .big-message.quiet(class=color)
    h1 {{_ label}}
    unless currentUser
      with(pathFor route='atSignIn')
        p {{{_ 'page-maybe-private' this}}}
